<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<html>


<!--Generate random id to simulate a user-->
<head onload = "getUserId()">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>

<body>
    <!--button redirects to the post of the current user-->
    <a href="http://127.0.0.1:8000/myPosts/" class = "fakeButton">View Personal Stories!</a>



        <!--BRAINSTORMING STUFF IGNORE-->
        <div class = "bg-modal-hidden" name = "story-owner-edit" >
            <div class="modal-content">
                <form method = "POST">
                    {% csrf_token %}

                    <!-- Text: <textarea name = "postText"></textarea><br> -->
                    <!-- ID: <p><span name = "post_id"></span></p>-->
                    <input type="submit" name="save" value="save"></input>
                    <input type="submit" name ="delete" value="delete">Delete!</input>
                      <!-- Link database to the id and pull all of the users information-->
                </form>
            </div>
        </div>

        <!--BRAINSTORMING STUFF IGNORE-->
        <div class = "bg-modal-hidden" name = "story-owner-create" >
            <div class="modal-content">
                <form method = "POST">
                    {% csrf_token %}

                    Text: <textarea name = "postText" ></textarea><br>
                    <textarea name = "user_id" class="bg-modal-hidden">temp</textarea><br>
                    <textarea name = "post_id" class="bg-modal-hidden" ></textarea><br>


                    <input type="submit" name="save" value="save"></input>
                    <input type="submit" name ="delete" value="delete"></input>

                      <!-- Link database to the id and pull all of the users information-->
                </form>
            </div>
        </div>

    <!--Generating a random post id-->
    <script>

        document.getElementById('create-story').addEventListener('click',function(){
        document.getElementsByName("story-owner-create")[0].className = "bg-modal-view";
        let s4 = () => {
            return 'xxxxxx-xxxxx-xxxxx-xxxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(de) {
            var random = Math.random() * 16 | 0, ve = de == 'x' ? random : (random & 0x3 | 0x8);
            return ve.toString(16);
        });
        }

            id = s4();
            document.getElementsByName("post_id")[0].textContent = id;
            document.getElementsByName("post_id")[1].textContent = id;


        });
    </script>






</body>







</html>

<!--Hiding windows on click, IGNORE-->
<script>
document.getElementById('edit').addEventListener('click',function(){
    document.getElementsByName("story-owner-view")[0].className = "bg-modal-hidden";
    document.getElementsByName("story-owner-edit")[0].className = "bg-modal-view";

    let num = document.getElementsByName("name").length;
});


</script>
<style>

.bg-modal-view {
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.7;
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}


.bg-modal-hidden {
   display: none;
}
.modal-content {
   width: 500px;
   height: 300px;
   background-color: white;
   border-radius: 4px;
   text-align: center;
}

.hidden {
    display: none;
}

.fakeButton {
  background-color: #808080;
  color: white;
  padding: 15px 25px;

}
</style>





