{% block content %}
<h1>{{ user.display_name }}'s Account Page</h1>
<h2><em>{{ user.username }}</em></h2>

{% if form %}
    <form action="{% url 'tellmeastory:account_page' user.username %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update">
        <br>
        <br>
        {% if change_message %}
            <p><strong>{{ change_message }}</strong></p>
        {% endif %}
    </form>
    <button onclick="location.href = '/story/addtags/create/'">Add Tags Here</button>

    <br>
    <!--deletes the entry from the database on click-->
    </strong><a href="{% url 'tellmeastory:viewPosts' %}">View All Posts!</a></strong><br><br>

    <strong><p>Your Posts!</p></strong>
    {% for post in user_posts %}
    <br>
     <strong> Post ID: {{post.post_id}}</strong>

    <!--display the text of the post-->
    <p>{{post.postText}}</p>

    <!--onclick move to the edit page-->
    <a href="{% url 'tellmeastory:editPost' post.post_id %}">Edit <span class = tab></span></a>

    <!--deletes the entry from the database on click-->
    </strong><a href="{% url 'tellmeastory:deletePost' post.post_id %}">Delete</a></strong><br><br>

    {% endfor %}
{% endif %}
{% endblock %}