{% block content %}

<h1>Reported Post: {{report.report_id}}</h1>

<center>

<p>Reporting ID: {{report.reporting_username}}</p>
<p>Reported ID: {{report.reported_id}}</p>
<p>Reason: {{report.report_reason}}</p>



<form action ="" method=POST>
{% csrf_token %}

 <select name="choice">
    <option value="Ban">Ban Offender</option>
    <option value="Delete">Delete Report</option>
</select>

<input type = "submit" value = "Save">

</form>
</strong><a href="{% url 'tellmeastory:adminReportPage' %}">Exit</a></strong>

</center>


{% endblock %}

