<h2>Create a new Story</h2>

<!--
  if the user is not logged in, do not show the form 
    and instead redirect them to login page
  if the user is logged in, prompt them for title and content
    they will later on be able to upload images and stuff
-->

{% if logged_in %}
    <!-- show the form and get all of the needed stuff -->
    <p>Temp, I may or may not be in a work meeting right now!</p>

    <form action="/story/THE_ROUTE" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
        <br>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
{% else %}
    <!-- notify the user they need to be logged in and redirect to login -->
    <h4>You must be logged in to create a story!</h4>
    <h4 href="/story/login/">Log in here.</a>
{% endif %}
