{% block content %}

<h1>All Posts</h1>

 <!--loop through each object in the post database-->
{%for post in posts%}

<!--displays the post id each time (the primary key)-->
<strong>Post ID: {{ post }}</strong>

<!--display the text of the post-->
<ul>{{post.postText}}</ul>


{% if username|stringformat:"s" == post.username|stringformat:"s" %}
 <!--onclick move to the edit page-->
    <a href="{% url 'tellmeastory:editPost' post.post_id %}">Edit <span class = tab></span></a>

    <!--deletes the entry from the database on click-->
    <a href="{% url 'tellmeastory:deletePost' post.post_id %}">Delete</a></strong><br><br>
{% endif %}

{% if username|stringformat:"s" != post.username|stringformat:"s" %}
 <a href="{% url 'tellmeastory:reportPost' post.post_id %}">Report <span class = tab></span></a><br>
{% endif %}

{% endfor %}


{% endblock %}


