<h1>{{ user.display_name }}'s Account Page</h1>
<h2><em>{{ user.username }}</em></h2>

{% if form %}
    <form action="{% url 'tellmeastory:account_page' user.username %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update">
        <br>
        <br>
        {% if change_message %}
            <p><strong>{{ change_message }}</strong></p>
        {% endif %}
    </form>
    <button onclick="location.href = '/story/addtags/create/'">Add Tags Here</button> <br/>
    <button onclick="location.href = '/story/addnodeimage/'">Add Image to Node Here</button> <br/>
{% endif %}